{% extends 'admin/content_base.html.twig' %}

{% block title %}Manage Profiles{% endblock %}

{% block content_class %}{{ parent() }} show-profile-container-border-green{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Profiles ({{ pagination.getTotalItemCount }})</h1>

            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           value="{{ app.request.query.get('q') }}"
                           placeholder="Search..."
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Twitter username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.twitterUsername }}
                        </td>
                        <td>
                            {{ user.firstName }}
                        </td>
                        <td>
                            {{ user.lastName }}
                        </td>
                        <td>
                            <a href="{{ path('app_profile', {
                                '_switch_user': user.email
                            }) }}">
                                Login as
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No profiles found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
